<template>
    <div class="w-50">
        <form>
            <div class="input-group mb-3 w-100">
                <input type="text" class="form-control form-control-lg" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-success" type="button">Add this to your list</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {

            }
        },
        mounted() {

        }
    }
</script>
